<title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bulma.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/global.css" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}/img/me.jpg">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/circle-me.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/circle-me.png" sizes="16x16">
<link rel="mask-icon" href="{{ .Site.BaseURL }}/img/circle-me.png" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/google_news.html" . -}}
{{- template "_internal/schema.html" . -}}

{{ if .IsPage }}
    <meta name="twitter:description" content="{{ .Summary }}" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ if .Params.twitter_image }}{{ .Params.twitter_image }}{{ else }}{{ .Params.cover }}{{ end }}" /> 
{{ else }}
    <meta name="twitter:title" content="{{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Description }}" /> 
{{ end }}

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>