{{ define "main" }}
    <h2 class="title is-4">Things I've made</h2>
    <h2 class="subtitle is-5 has-text-grey">Below is a list of products and digital creations I've shipped.</h2>
    
    {{ range .Pages.ByParam "featured"  }}
            {{ if eq .Type "projects"}}
                <section id="{{ .Title }}" class="hero {{ .Params.classes }} project-hero">
                    <div class="hero-body">
                        <div class="columns">
                            <div class="column description-case">
                                <a class="title is-3 product-name" href="{{ .Params.homepage }}" target="_blank">
                                    {{ .Title }}
                                </a>
                                <small class="heading" style="margin-top: 5px;">{{ .Params.tagline }}</small>
                                <br />
                                <div class="content">
                                    {{ .Content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {{ end }}
        {{ end }}
{{ end }}