{{ define "main" }}
    <style>
        #header-image {
            transition: all 0.5s ease-in-out;
            position: fixed;
            z-index: 0;
            top: 0;
            left: 0;
            background-position: center;
            {{ if .Params.cover }}
                background-image: url({{ .Params.cover }});
            {{ else }}
                background: #acb6e5;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            {{ end }}
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }

        body.darken-mode {
            background-color: rgba(255, 255, 255, 0.3) !important;
        }

        body.darken-mode {
            background-color: rgba(255, 255, 255, 0.3) !important;
        }
            
        body.darken-mode .title {
            color: black !important;
        }

        body.darken-mode .subtitle {
            color: black !important;
        }

        body.darken-mode i.fas {
            color: black !important;
        }

        body.darken-mode #header-image {
        }

        body.darken-mode #header-image:before {
            background: rgba(0,0,0, 0.8);
        }

        body.book-mode {
            background-color: #fff !important;
        }
            
        body.book-mode .title {
            color: black !important;
        }

        body.book-mode .subtitle {
            color: black !important;
        }

        body.book-mode i.fas {
            color: black !important;
        }

        body.book-mode #header-image {
            background-image: none;
            background-color: white !important;
        }

        body.book-mode #header-image:before {
            background-color: transparent;
        }

        #header-image:before {
            transition: all 0.5s ease-in-out;
            position: absolute;
            content: " ";
            top: 0;
            background: rgba(0,0,0, 0.5);
            width: 100%;
            height: 100%;
        }
    </style>
    
    <section class="hero is-medium" id="blog-post-hero">
        <div class="hero-body">
            <span class="container has-text-centered">
                <h1 class="title is-2 has-text-white">
                    {{ .Title }}
                </h1>
                <h2 class="subtitle  has-text-white">
                    {{ .Params.tagline }}
                </h2>
                <center><a data-size="large" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></center>
            </div>
        </div>
    </section>
    
    <div class="blog-post-container container">
        <div class="card blog-content-card">
            <div class="card-content" id="blog-post">
                {{ if .Draft }}<center class="has-text-grey">🚧  This post is a draft. I'm still writing it! 🚧<br /> Let me know your thoughts by <a href="https://twitter.com/matteing">tweeting at me.</a><hr /></center>{{ end }}
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>

        <div class="card blog-content-card">
            <div class="card-content" style="padding: 50px 100px 50px 100px;">
                    <article class="media" id="me-media">
                        <figure class="media-left is-hidden-touch">
                            <p class="image is-64x64">
                                <img class="img-circle" src="https://avatars2.githubusercontent.com/u/7959397?s=460&v=4">
                            </p>
                        </figure>
                        <div class="media-content">
                            <h1 class="title is-4">
                            Thanks for reading!
                            </h1>
                            <p class="subtitle is-6">
                                I'm passionate about maker culture, technology, and life.<br /> Follow me on Twitter to stay in the loop on my latest creations and writings!
                            </p>
                            <p>
                                    <a href="https://twitter.com/matteing?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @matteing</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </p>
                        </div>
                    </article>
            </div>
        </div>
    </div>

    <script>

        window.onscroll = function() {
            var body = document.getElementById('body');
            var header_image = document.getElementById('header-image');
            if ( window.pageYOffset > 250) {
                body.classList.add("darken-mode");
            } else {
                body.classList.remove("darken-mode");
            }
        }
    </script>
{{ end }}