{{ define "main" }}
    <h2 class="title is-4">Things I've made</h2>
    <h2 class="subtitle is-5 has-text-grey">I've made many products...</h2>
    <div class="thing-tiles tile is-ancestor">
        {{ range (where .Pages "Type" "projects") }}
            {{ if eq .Params.featured true}}
                {{- partial "project_card.html" . -}}
            {{ end }}
        {{ end }}
        <div class="tile is-parent">
            <a href="projects" class="product-tile more tile is-child">
                <div>
                    <h3 class="title is-3">More →</h3>
                    <h5 class="subtitle is-8">See all of my projects!</h5>
                </div>
            </a>
        </div>
    </div>
    
    <h2 class="title is-4" style="margin-top: 30px;">Ideas</h2>
    <h2 class="subtitle is-5 has-text-grey">I like to write in my free time.</h2>
    {{ range first 7 (where .Pages "Params.draft" false).ByDate.Reverse }}
        {{ if eq .Type "posts"}}
            {{- partial "post_card.html" . -}}
        {{ end }}
    {{ end }}

    <h2 class="title is-4" style="margin-top: 30px;">Other links</h2>
    <h2 class="subtitle is-5 has-text-grey">Stay in the loop by following me on social media!</h2>
    <div class="thing-tiles tile is-ancestor">
        <div class="tile is-parent">
                <a href="mailto:mattei@sergiomattei.com" class="product-tile icon-tile email tile is-child">
                    <div>
                        <i class="fas fa-envelope"></i>
                    </div>
                </a>
            </div>

        <div class="tile is-parent">
            <a href="https://twitter.com/matteing" target="_blank" class="product-tile icon-tile twitter tile is-child">
                <div>
                    <i class="fab fa-twitter"></i>
                </div>
            </a>
        </div>

        <div class="tile is-parent">
                <a href="https://getmakerlog.com/@sergio" target="_blank" class="product-tile icon-tile makerlog tile is-child">
                    <div>
                        <i class="fas fa-check-circle"></i>
                    </div>
                </a>
            </div>
    </div>
{{ end }}